html, body {
  &.covered {
    overflow:hidden;
  }
}

body {
  * {
    transition: .3s ease all;
  }
  letter-spacing:.5pt;
  font-family:$body;
  color:$black;
  font-weight:100;
  .container {
    width:90%;
    //height:100%;
    margin:0 auto;
    @include respond-to('xl-desktop'){
      width:1400px;
    }
  }
  a {
    color:$blue;
    text-decoration:none;
    position:relative;
    &:hover {
      &:before {
        right: 0%;
      }
    }
    &:before {
              content: "";
              position: absolute;
              z-index: 0;
              left: 0%;
              right: 100%;
              bottom: 0;
              background: $blue;
              height: 2px;
              transition-property: left, right;
              transition-duration: 0.3s;
              transition-timing-function: ease-out;
            }
  }
  .btn {
    @extend %btnstyle;
  }
  .cta {
    display:flex;
    justify-content:center;
  } 
}

%btnstyle {
    background:$blue;
    padding:10px 25px 10px 15px;
    border-radius:20px;
    color:$white;
    font-size:13px;
    text-transform:uppercase;
    width:auto;
    text-decoration:none;
    position:relative;
    font-weight:100;
    &:hover {
      background:$drkblue;
      border-bottom:0;
      text-decoration:none;
      &:after {
        right:8px;
      }
    }
    &:before {
      display:none;
    }
    &:after {
      width:7px;
      height:12px;
      content: " ";
      background:url('assets/img/btn_arrow.png');
      position:absolute;
      right:11px;
      top:12px;
      transition:.3s ease all;
    }
}

.icons {
    max-width:445px;
    margin:0 auto 20px;
    padding:0;
    display:flex;
    flex-wrap:wrap;
    li {
      display:block;
      list-style:none;
      width:50%; 
      a {
        text-align:center;
        text-decoration: none;
        font-size:18px;
        text-transform:uppercase;
        img {
          display:block;
          margin:0 auto 10px;
        }
        h3 {
          width:100%;
          margin:auto 0;
          font-size:17px;
          color:$blue;
          height:40px;
          line-height:40px;
          display:block;
          text-align:center;
          &.double {
            line-height:20px;
          }
        }
      }
      @include respond-to('mobile'){
        width:33.333% !important;
      }
    }
  }

