form {
    .wpcf7-text {
                outline:none;
                padding:9px 10px;
                font-size:15px;
                &:focus {
                    border:2px solid $orange;
                }
                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: $grey;
                    opacity: 1; /* Firefox */
                }

                &::-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: $grey;
                }

                &::-ms-input-placeholder { /* Microsoft Edge */
                    color: $grey;
                }
            }
    .wpcf7-submit {
        outline:none;
        @extend %btnstyle;
    }
    span.wpcf7-not-valid-tip {
        font-size:15px;
        color:$warning;
        padding:5px 0 0 10px;
    }
    .wpcf7-validation-errors {
        display:none !important;
        width:70%;
        margin: 0 auto;
        border: none !important;
        color:$warning;
        text-align:center;
        text-transform:uppercase;
        font-size:16px;
    }
}