#lead {
	width:100%;
	min-height:500px;
	padding-top:138px;
	background: #eeeeee; /* Old browsers */
    background: -webkit-linear-gradient(#ffffff 0%, #eeeeee 100%);
    background: -o-linear-gradient(#ffffff 0%, #eeeeee 100%);
    background: linear-gradient(#ffffff 0%, #eeeeee 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	.container {
		display:flex;
		flex-wrap:wrap;
		.text {
			width:50%;
			padding:100px 0;
			h1 {
				padding:0 50px 0 0;
				color:$blue;
				font-size:70px;
				text-transform:uppercase;
				font-weight:100;
				line-height:80px;
			}
			p {	
				padding:0 50px 0 0;
				font-size:20px;
				line-height:30px;
			}
		}
		.img {
			width:50%;
			height:500px;
			background:#e7e7e7;
		}
	}
	h2 {
		display:block;
		width:100%;
		text-align:center;
		text-transform:uppercase;
		font-size:21px;
		margin-bottom:38px;
	}
	ul {
		max-width:445px;
		margin:0 auto 20px;
		padding:0;
		display:flex;
		flex:wrap;
		li {
			display:block;
			list-style:none;
			width:33.333%;
			a {
				text-align:center;
				text-decoration: none;
				font-size:18px;
				text-transform:uppercase;
				img {
					display:block;
					margin:0 auto 10px;
				}
				h3 {
					width:100%;
					margin:auto 0;
					font-size:17px;
					color:$blue;
					height:40px;
					line-height:40px;
					display:block;
					text-align:center;
					&.double {
						line-height:20px;
					}
				}
			}
		}
	}
	
}

#casestudy, #newsletter, #how, #blog {
	
	h2 {
		width:100%;
		text-align:center;
	}
}

#casestudy {
	padding:60px 0;
	h2 {
		margin-bottom:40px;
	}
	ul {
		margin:0 auto 40px;
		padding:0;
		display:flex;
		flex-wrap:wrap;
		align-items:center;
		justify-content:center;
		li {
			height:70px;
			list-style:none;
			padding:0 10px;
			margin:0;
			display:flex;
			flex-wrap:wrap;
			align-items:center;
			justify-content:center;
		}
	}
}

#newsletter {
	padding:30px 0;
	background:$background;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	p {
		font-size:15px;
		display:block;
		max-width:450px;
		text-align:center;
	}
}

#how {
	//padding:0 0 60px 0;
	h2 {
		font-size:21px;
		margin-bottom:35px;	
	}
	.block {
		width:100%;
		margin-bottom:70px;
		display:flex;
		flex-wrap:wrap;
		.text {
			width:calc(50% - 40px);
			padding-left:40px;
			h3 {
				color:$blue;
				font-size:30px;
				margin:10px 0 15px 0;
			}
			p {
				font-size:18px;
				line-height:27px;

				margin:0 0 35px 0;
			}
			ul {
				margin:0 0 30px 0;
				padding:0;
				li {
					list-style:none;
					padding:0 0 10px 30px;
					position:relative;
					&:before {
						position:absolute;
						left:0;
						top:2px;
						display:block;
						content:"";
						width:22px;
						height:17px;
						background:url('assets/img/icon_check.png');
					}
				}
			}
			.readmore {
				color:$blue; 
				font-size:15px;
				padding:0 0 0 10px;
				text-decoration:none;
				&:hover {
					text-decoration:underline;
				}
			}
		}
		.img {
			width:50%;
			height:500px;
			background:$blue;
		}
		&.migration {
			.text {
				order:1;
				padding-left:0px;
				padding-right:40px;
			}
			.img {
				order:2;
			}
		}
	}
}

#blog {
	padding:0 0 60px 0;
	h2 {
		font-size:21px;
		margin-bottom:10px;
	}
	p {
		font-size:15px;
		display:block;
		max-width:550px;
		text-align:center;
		margin:0 auto 40px; 
	}
	.stories {
		display:flex;
		flex-wrap:wrap;

		.col {
			width:calc(33.333% - 40px);
			margin:0 20px;
			h4 {
				color:$blue;
				font-size:18px;
				margin-bottom:15px;
				text-transform:none;
			}
			p {
				text-align:left;
				font-size:15px;
				line-height:24px;
				margin:0 0 10px 0;
			}
			a {
				
				font-size:15px;
			}
		}
	}
}