#lead {
	width:100%;
	min-height:500px;
	padding-top:138px;
	background: #eeeeee; /* Old browsers */
    background: -webkit-linear-gradient(#ffffff 0%, #eeeeee 100%);
    background: -o-linear-gradient(#ffffff 0%, #eeeeee 100%);
    background: linear-gradient(#ffffff 0%, #eeeeee 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	.container {
		display:flex;
		flex-wrap:wrap;
		.text {
			order:2;
			width:100%;
			padding:50px 0;
			@include respond-to('xl-tablet'){
				padding:100px 0;
			}
			h1 {
				padding:0 50px 0 0;
				color:$blue;
				font-size:60px;
				text-transform:uppercase;
				font-weight:100;
				line-height:70px;
				@include respond-to('xl-tablet'){
					font-size:70px;
					line-height:80px;
				}
			}
			p {	
				padding:0 50px 0 0;
				font-size:18px;
					line-height:27px;
				@include respond-to('xl-tablet'){
					font-size:20px;
					line-height:30px;
				}
			}
			@include respond-to('s-tablet'){
				width:50%;
				order:1;
			}
		}
		.img {
			order:1;
			width:100%;
			height:500px;
			background:#e7e7e7;
			@include respond-to('s-tablet'){
				width:50%;
				order:2;
			}
		}
	}
	h2 {
		display:block;
		width:100%;
		text-align:center;
		text-transform:uppercase;
		font-size:21px;
		margin-bottom:38px;
	}

	.icons {
		justify-content:center;
	}
	
	
}



#casestudy, #newsletter, #how, #blog {
	
	h2 {
		width:100%;
		text-align:center;
	}
}

#casestudy {
	padding:60px 0;
	h2 {
		margin-bottom:40px;
	}
	ul {
		margin:0 auto 40px;
		padding:0;
		display:flex;
		flex-wrap:wrap;
		align-items:center;
		justify-content:center;
		li {
			height:70px;
			list-style:none;
			padding:0 10px;
			margin:0;
			display:flex;
			flex-wrap:wrap;
			align-items:center;
			justify-content:center;
		}
	}
}

#newsletter {
	padding:30px 0;
	margin-bottom:60px;
	background:$background;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	p {
		margin:0 0 30px 0;
		font-size:15px;
		display:block;
		max-width:450px;
		text-align:center;
	}
	.form {
		width:100%;
		form {
			display:flex;
			flex-wrap:wrap;
			justify-content:center;
			.name, .email, p {
				margin:0 10px 20px;;
				width:100%;
				display:flex;
				flex-wrap:wrap;
				justify-content:center;
				@include respond-to('tablet'){
					width:auto;
				}
				
			}

		}
	}
}

#how {
	//padding:0 0 60px 0;
	h2 {
		font-size:21px;
		margin-bottom:35px;	
	}
	.block {
		width:100%;
		margin-bottom:70px;
		display:flex;
		flex-wrap:wrap;
		.text {
			width:100%;
			padding:0 10px;
			h3 {
				color:$blue;
				font-size:30px;
				margin:10px 0 15px 0;
			}
			p {
				font-size:18px;
				line-height:27px;

				margin:0 0 35px 0;
			}
			ul {
				margin:0 0 30px 0;
				padding:0;
				li {
					list-style:none;
					padding:0 0 10px 30px;
					position:relative;
					&:before {
						position:absolute;
						left:0;
						top:2px;
						display:block;
						content:"";
						width:22px;
						height:17px;
						background:url('assets/img/icon_check.png');
					}
				}
			}
			.readmore {
					display:block; 
					margin:20px 0 0 0;
					@include respond-to('s-tablet'){
						display:inline; 
						margin:0 0 0 10px;
					}
					a {
						color:$blue; 
						font-size:15px;
						text-decoration:none;
					}
					
				}
			
			@include respond-to('s-tablet'){
				width:calc(50% - 40px);
				padding:0 0 0 40px;
			}
		}
		.img {
			width:100%;
			height:500px;
			background:$blue;
			@include respond-to('s-tablet'){
				width:50%;
			}
		}
		&.migration {
			@include respond-to('s-tablet'){
				.text {
					order:1;
					padding-left:0px;
					padding-right:40px;
				}
				.img {
					order:2;
				}
			}
		}
	}
}

#blog {
	padding:0 0 60px 0;
	h2 {
		font-size:21px;
		margin-bottom:10px;
	}
	p {
		font-size:15px;
		display:block;
		max-width:550px;
		text-align:center;
		margin:0 auto 40px; 
	}
	.stories {
		display:flex;
		flex-wrap:wrap;

		.col {
			width:100%;
			margin:0 0 40px 0;
			h4 {
				color:$blue;
				font-size:18px;
				margin-bottom:15px;
				text-transform:none;
			}
			p {
				text-align:left;
				font-size:15px;
				line-height:24px;
				margin:0 0 10px 0;
			}
			a {
				
				font-size:15px;
			}
			@include respond-to('tablet'){
				width:calc(33.333% - 40px);
				margin:0 20px;
			}
		}
	}
}